<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAy5xiNqn12zP_kYGmhAZ_Eq7RfpV0FLes</string>
	<key>GCM_SENDER_ID</key>
	<string>83924779633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tapAndTrip.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tap-and-trip</string>
	<key>STORAGE_BUCKET</key>
	<string>tap-and-trip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83924779633:ios:3a1ec2a4da09f3529ed1d0</string>
	<key>DATABASE_URL</key>
	<string>https://tap-and-trip-default-rtdb.firebaseio.com</string>
</dict>
</plist>